<%- layout("layouts/main") %>

<%- include("../partials/title") %>

<div class="container">
  <form method="post" action="/posts/<%=post.id%>?_method=PUT">
    <section>
      <label for="title">Edit title:</label>
      <br>
      <input type="text" name="title" id="title" value="<%=post.title%>" required max="100" class="form-control">
    </section>
    <hr>
    <section>
      <label for="text">Edit post:</label>
      <br>
      <textarea name="text" id="text" cols="60" rows="10" required class="form-control"><%=post.text%></textarea>
    </section>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>