<%- include("../partials/head") %>

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link active" href="/posts">Posts</a>
        <a class="nav-item nav-link" href="/posts/new">New Post</a>
      </div>
      <%- include("../partials/user") %>
    </div>
</nav>
</header>

<%- include("../partials/title") %>

<div class="container">
  <form method="GET" action="/posts/search" class="m-2">
    <div class="input-group w-50">
      <input name="title" id="title" type="text" class="form-control" placeholder="Search for a post's title ...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="container">
    <% for (let post of posts) {%>
        <article class="border m-2 p-2 rounded bg-light">
            <h2><%=post.title%></h2>
            <hr>
            <span>posted by <b><%=post.username%></b></span>
            <hr>
            <a href="/posts/<%=post.id%>" class="mr-2">Show</a>
        </article>
    <%}%>
</div>
<% if (!isNaN(page)) { %>
<hr>
<div class="container">
  <nav class="m-2">
    <ul class="pagination">
      <li class="page-item">
        <% if (!isNaN(prev)) { %>
          <a class="page-link" href="/posts?page=<%=prev%>">Previous</a>
        <% } else { %>
          <div class="page-link bg-light text-secondary">Previous</div>
        <% } %>
      </li>
      <li class="page-item"><div class="page-link"><%=page%></div></li>
      <li class="page-item">
        <% if (!isNaN(next)) { %>
          <a class="page-link" href="/posts?page=<%=next%>">Next</a>
        <% } else { %>
          <div class="page-link bg-light text-secondary">Next</div>
        <% } %>
      </li>
    </ul>
  </nav>
</div>
<% } %>

<%- include("../partials/footer") %>